<%
  const _title = (typeof title !== "undefined") ? title : undefined;
  const _stepTitle = (typeof stepTitle !== "undefined") ? stepTitle : "";
  const _bodyClass = (typeof bodyClass !== "undefined") ? bodyClass : "demo-body";
%>
<%- include("partials/head", { title: _title, bodyClass: _bodyClass }) %>

<div class="demo-shell">
  <div class="demo-left">
    <div class="demo-left-inner">
      <div class="demo-title">FUL VERSION<br/>IN 8 STAPPEN</div>
      <div class="demo-intro">
        Doorloop de wizard van 5 stappen. Na afloop ben je meteen klaar om te gaan testen.
      </div>

      <div class="demo-step-title"><%= _stepTitle %></div>

      <div class="demo-form-wrap">
        <%- body %>
      </div>

      <div class="demo-footer">
        <img src="/static/logo_punctoo_groot_opgeel.png" alt="Punctoo" />
      </div>
    </div>
  </div>

  <div class="demo-right">
    <div class="demo-right-inner">
      <img class="demo-right-img" src="/static/demo-wall.png" alt="" />
      <img class="demo-lady" src="/static/demo-lady-hidden.png" alt="" />
      <img class="demo-overlay" src="/static/demo-right.svg" alt="" />
    </div>
  </div>
</div>

<%- include("partials/foot") %>